Source: sogo
Priority: optional
Maintainer: Jeroen Dekkers <jeroen@dekkers.ch>
Build-Depends: debhelper (>= 9),
 gobjc,
 libcurl4-gnutls-dev,
 libgnustep-base-dev,
 libgnutls-dev,
 liblasso3-dev,
 libldap2-dev,
 libmapi-dev (>= 1:2.0+git20140329),
 libmapiproxy-dev (>= 1:2.0+git20140329),
 libmapistore-dev (>= 1:2.0+git20140329),
 libmemcached-dev,
 libsbjson-dev,
 libsope-dev (>= 2.2.3),
 libxml2-dev,
 python-samba
Section: mail
Standards-Version: 3.9.5
Homepage: http://www.sogo.nu/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/sogo.git
Vcs-Git: git://anonscm.debian.org/collab-maint/sogo.git

Package: sogo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tmpreaper | systemd, sogo-common (= ${source:Version}), adduser, zip
Suggests: postgresql | mysql-server
Description: Scalable groupware server
 SOGo is a groupware server built around OpenGroupware.org (OGo) and
 the SOPE application server with focus on scalability. It has many
 feature enhancements:
 .
  * CalDAV and GroupDAV compliance
  * full handling of vCard as well as vCalendar/iCalendar formats
  * support for folder sharing and ACLs
 .
 The Web interface has been rewritten in an AJAX fashion to provide a faster
 UI for the users, consistency in look and feel with the Mozilla applications,
 and to reduce the load of the transactions on the server.
 .
 This package contains the SOGo daemon.

Package: sogo-common
Architecture: all
Depends: ${misc:Depends}, ckeditor, libjs-prototype, libjs-jquery, libjs-jquery-ui
Suggests: httpd
Description: Scalable groupware server - common files
 SOGo is a groupware server built around OpenGroupware.org (OGo) and
 the SOPE application server with focus on scalability.
 .
 This package contains the architecture-indepedent files, including
 all the files that are needed on the web proxy.

Package: sogo-dbg
Section: debug
Priority: extra
Architecture: any
Depends: sogo (= ${binary:Version}), ${misc:Depends}
Description: Scalable groupware server - debugging symbols
 SOGo is a groupware server built around OpenGroupware.org (OGo) and
 the SOPE application server with focus on scalability.
 .
 This package contains the debugging symbols for SOGo.

Package: sogo-openchange
Architecture: any
Depends: sogo (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Scalable groupware server - OpenChange backend
 SOGo is a groupware server built around OpenGroupware.org (OGo) and
 the SOPE application server with focus on scalability.
 .
 This package contains the plugin for using SOGo as a backend to
 OpenChange.
